{% extends 'base.html' %}

{% block title %}
{{ inst.name }}
{% endblock %}

{% block body %}
    <div class="container marketing fordiv fordiv1">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading text-white">{{ inst.vendor }} <span class="text-white">{{ inst.name }}</span></h2>
            <p class="lead text-white">{{ inst.disc }}</p>
            <h1 class="text-white">{{ inst.price }} руб.</h1>
            <p><a class="btn btn-warning" href="/add_cart/{{ inst.id }}">Добавить в корзину</a></p>
          </div>
          <div class="col-md-5">
            <svg class="fordiv1 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text><image href="{{ inst.photo }}" height="100%" width="100%"/></svg>

          </div>
        </div>
    </div>
{% endblock %}