{% extends 'base.html' %}

{% block title %}
Новости
{% endblock %}

{% block body %}
<h1 align="center" class="h2 fw-normal text-white">Новостной блок</h1>
<div class="container mt-5">

    {% if admin %}
          <a class="me-3 btn btn-warning text-decoration-none" href="/create-article">Создать</a>
    {% endif %}

    {% if articles|length > 0 %}

    {% for el in articles %}
        <div class="alert text-white">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p></b>{{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
        </div>
        {% endfor %}
    {% else %}
    <p class="text-white">Новостей на данный момент нет</p>
    {% endif %}
</div>
{% endblock %}